*{list-style-type: none;
    text-decoration: none;
}
body{background-image: url('contect.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;}

/*This the code of navigation bar*/
nav ul,h1,li,a{display: inline;
}
.lha{color: rgb(255, 0, 0);}
.logo{margin-right: 600px;
margin-left: 30px;
font-weight:4000;
font-size: xx-large;
color: rgb(0, 0, 0);}
.nav-links{
    margin-right: 35px;
    color: rgb(0, 0, 0);
   
}
.text{text-align: center;
margin-top: 130px;}